/* --clr-accent: #9a4877; */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: lightgray;
}

/* Custom Properties, update these for your own design */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: white;
    --clr-dark: black;
    --clr-accent: gray; 
    
    --fs-h1: 4.25rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    overflow-x: hidden;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

h4{
    font-size: 2.5rem;
    line-height:45px;
}
h5{
    font-size: 3rem;
    font-weight: 500;
}

header {
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    padding: 1em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

a {
    color: white;
    text-decoration: none
}

/* Typography */
h1, h2, h3 {
    line-height: 1;
    margin: 0;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.title {
    text-align: center;
    justify-content: center;
    align-items: center;
    place-content: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-light);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btn:hover {
    transform: scale(1.25);
}

.logo {
    max-width: 100px;
}

/* COLORS */

.red { color: #D12559; }
.orange { color: #EC8537; }
.yellow { color: #EEDD41; }
.green { color: #02C245; }
.black { color: black; }
.white { background-color: white; }

/* Top Left Title */
.topleftTitle{
    margin: 0;
    display: inline;
    position: absolute;
    top:10px;
    left:30px;
    color: var(--clr-dark);
}

/* Flex Container */
.flex-item {
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: -30px;
    line-height: 20px;
    background-color: gray;
    color: white;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.flex-item-s {
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: -30px;
    line-height: 20px;
    color: white;
    background-color: green;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.flex-item-s:hover {
    transform: scale(1.025);
    color: black;
}
.flex-item-p {
    display: flex;
    width: 100%;
    height: 0px;
    margin-bottom: -30px;
    line-height: 20px;
    background-color: gray;
    color: white;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.f-container {
    animation: bounce linear infinite 3s forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.f-container br {
    display: none;
}
@keyframes bounce {
    from { transform: translate3d(-100px, 0, 0);     }
    to   { transform: translate3d(100px, 0, 0); }
}
@media (max-width: 500px) {
    .flex-item {
        display: flex;
        width: 100%;
        height: 150px;
        background-color: gray;
    }
    .f-container {
        font-size: x-large;
        animation: bounce linear infinite 1s forwards;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    .f-container br {
        display: inline-block;
    }
    @keyframes bounce {
        from {transform: translate3d(-20px, 0, 0);}
        to   {transform: translate3d(20px, 0, 0);}
    }
    .topleftTitle{
        font-size: 110%;
        left: 20px;
    }
    .dissappear {
        display: none;
    }
}

/* Introduction section */
.intro {
    position: relative;
}
.intro__img {
    box-shadow: var(--bs);
    border-radius: 10%
}
.dynamic_text {
    display: grid;
    position: relative;
    text-align: center;
    width: max-content;
    margin-right: 4px;
}
.dynamic_text::before,
.dynamic_text::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    height: 110%;
    width:110%;
}
.dynamic_text::before {
    background: lightgrey;
    animation: typewriterd 1s steps(8) 0.75s forwards;
}
.dynamic_text::after {
    width: 0.125em;
    background: white;
    animation: typewriter 1s steps(8) 0.75s forwards, 2.5s blink 0.5s steps(1) infinite;
}
@keyframes typewriter {
    to { left: 100%; }
}
@keyframes typewriterd {
    to { 
        left: 100%; 
        width: 0%;
    }
}
@keyframes blink {
    50% { background: none; }
}
@keyframes typing {
    100%{
        transform: translateX(100%);
        margin: 0 -30px 0 9px;
    }
}
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
}

/* Overview Section */
.column {
    float: left;
    padding: 10px;
    height: 100px;
    margin: auto 0;
    text-align: center;
}
.sec1 {
    width: 25%;
    background-color: #D12559;
    font-size: 30px;
    line-height: 25px;
}
.sec2 {
    width: 25%;
    background-color: #EC8537;
    font-size: 30px;
    line-height: 25px;
}
.sec3 {
    width: 25%;
    background-color: #EEDD41;
    font-size: 30px;
    line-height: 25px; 
}
.sec4 {
    width: 25%;
    background-color: #02C245; 
    font-size: 30px;
    line-height: 25px; 
}
.sec1:hover, .sec2:hover, .sec3:hover, .sec4:hover {
    transform: scale(1.1);
}
@media (max-width: 650px) {
    .column {
        width: 100%;
    }
}

/* Background Section */
.half1 {
    display: flex;
    width: 60%;
    background-color: white;
    height: fit-content;
}
.half2 {
    display: flex;
    width: 40%;
    background-color: black;
    padding-top: 25px;
}
.main_page {
    background-color: black;
}
@media (max-width: 650px) {
    .half1 {
        padding: 1em;
        width: 100%;
        min-height: 875px;
    }
    .half2 {
        padding-top: 0px;
        width: 100%;
        height: 675px;
    }
}

/* Footer Section*/
.columnf {
  float: left;
  padding: 10px;
  height: 160px; 
  text-align: center;
  top: 100px;
  text-decoration: none;
  color: white;
  line-height: 45px;
}
.github {
    width: 33.333%;
    background-color: #BDC7F2;
}
.resume {
    width: 33.333%;
    background-color: #8453BD;
}
.linkedin {
    width: 33.333%;
    background-color: #B059AD;
}
.resume:hover, .linkedin:hover, .github:hover {
    transform: scale(1.1);
}
@media (max-width: 650px) {
    .columnf {
        width: 100%;
        font-size: 10px;
    }
}

/* Clear floats after the columns */
.row {
    height: fit-content;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Title */
.title_sec {
    background-color: lightgray;
    display: grid;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 180px;
}
.section__title--services {
    color: var(--clr-light);
    position: relative;
}
.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.2em;
    background: white;
}
.headerbtn {
    background-color: black;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1.5em;
    padding: 0.25em;
    font-size: 1.2em;
    border-radius: 5px;
    width: 30%;
}
.headerbtn:hover{}
@media (max-width: 650px) {
    .headerbtn { padding: 0.5em; }
    .title{
        padding-top: 0.5em;
        font-size: 3.5rem;
    }
}

/* About Me */
.about-me {
    margin-left : 2.5%;
    margin-right: 2.5%;
    border-width: 5px;
    font-size: 1.2em;
}

.about-me b {
    font-weight: 600;
}

/* Block Info & Interests */
.interests {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3.5em 0.5em;
    margin: 0;
    list-style: none;
}
.interest {
    display: flex;
    background: white;
    border: 5px;
    width: 90%;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.interest-long {
    display: flex;
    background: white;
    font-weight: bold;
    border: 5px;
    width: 90%;
    height: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.interest-special {
    /* background pink, text off white */
    background: #ffa7cf;  
    color: #f8f8ff;
    width: 90%;
}
/* on click, make the box and text bigger */
.interest-special:hover {
    transform: scale(1.05);
    background: #ff8fb4;
    color: #ffffff;
    font-size: 1.1em;
}
.interest-longer {
    display: flex;
    background: white;
    border: 5px;
    width: 90%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    text-align: left;
    border-radius: 3px;
}
.coursework {
    margin: 2.5% 7.5%;
}

/*Extra Information Pages*/
.page_slip {
    background: black;
    width: 100%;
    height: fit-content;
    border-bottom: 80px solid black;
    line-height: 25px;
    color: white;
    justify-content: center;
    text-align: left;
}
.note {
    list-style-type: none;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background: white;
    text-align: left;
    color: black;
}

/*Education Section*/
.ed_title {
    width: 100%;
    height: fit-content;
    color: #D12559;
    background-color: white;
    text-align: left;
}
.ed_title a {
    color: #D12559;
}
.subject_blocks {
    width: 25%;
    background-color: #D12559;;
    color: white;
}
.subject_blocks:hover {
    transform: scale(1.1);
    background-color: black;
}
.columnl {
    float: left;
    padding: 10px;
    height: 400px; 
    top: 90px;
    text-decoration: none;
}
.reading_list {
    text-align: center;
    list-style-type: none;
    width: 100%;
}
.reading_block1 {
    width: 29%;
    background-color: white;
    text-align: left;
}
.reading_block2 {
    width: 39%;
    background-color: white;
    text-align: left;
}
.reading_block3 {
    width: 30%;
    background-color: white;
    text-align: left;
}
.reading_block4 {
    width: 35.8%;
    background-color: white;
    text-align: left;
}
.reading_block5 {
    width: 33%;
    background-color: white;
    text-align: left;
}
.reading_block6 {
    width: 27.5%;
    background-color: white;
    text-align: left;
}
.bold {
    font-weight: bold;
}
@media (max-width: 800px) {
    .columnl {
        width: 90%; 
        height: fit-content;
        margin-left: 25px;
        text-align: center;
    }
    .ed_title h2{
        font-size: 28px;
    }
    .subject_blocks {
        width: 50%;
        background-color: #D12559;
        border: 0.25px solid darkred;
        color: white;
    }
    .final_block {
        width: 100%;
        text-align: 0%;
        height: 90px;
        background-color: gray;
        border: 1px solid gray;
    }   
    .interest-long {
        font-weight: normal;
    }
    .note {
        width: 95%;
    }
    .reading_list {
        text-align: center;
        list-style-type: none;
        width: 100%;     
    }
    .coursework {
        margin: 5% 7.25%;
    }
}

/*Work Section*/
.wk_title {
    width: 100%;
    color: #EC8537;
    background-color: white;
    position: relative;
    text-align: left;
}
.wk_title::after {
    content: '';
    display: block;
    width: 90%;
    height: 6px;
    margin-top: 15px;
    background: #EC8537;
}
.work_skills1 {
    text-align: left;
    list-style-type: none;
    width: 100%;
    margin: 4% 2%;
    color: black;
}
.work_skills2 {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 4% 2%;
    color: black;
}
.progress {
  padding: 2px;
  width: 100%;
  max-width: 500px;
  border: 3px solid #EC8537;
  height: 30px;
}
.progress .progress__bar1 {
  height: 100%;
  width: 90%;
  background-color: #EC8537;
  animation: fill-bar ease-out 2s;
}
.progress .progress__bar2 {
  height: 100%;
  width: 70%;
  background-color: #EC8537;
  animation: fill-bar ease-out 2s;
}
.progress .progress__bar3 {
  height: 100%;
  width: 60%;
  background-color: #EC8537;
  animation: fill-bar ease-out 2s;
}
@keyframes fill-bar {
  from {width: 0%;}
}
.work_blocks {
    width: 45%;
    background-color: white;
}
.work_list {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 2% 2%;
    color: white;
    justify-content: center;
    align-items: center;
}
.work_link {
    width: 90%;
    height: 150px;
    border-radius: 3px;
    background-color: #EC8537;
    margin-bottom: 15px;
}
.work_link:hover {
    background-color: black;
}
.side_text {
    width: 62.5%;
    height: 300px;
}
.side_img img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 25px;
} 
.work_text {
    width: 100%;
    margin: 5% 5%;
}
@media (max-width: 800px) {
    .work_blocks {
        width: 95%;
        margin-right: 2px;
    }
    .work_link {
        width: 96%;
        border-radius: 3px;
        background-color: #EC8537;
    }
    .work_skills1 {
        text-align: left;
        list-style-type: none;
        margin-top: 100px;
    }
    .work_text {
        width: 95%;
    }
    .side_text {
        width: 95%;
        height: 300px;
    }
    .columnp {
        height: 300px;
        text-decoration: none;
        text-align: center;
    }
}

/*Projects Section*/
.pr_title {
    width: 100%;
    color: #EEDD41;
    background-color: white;
    text-align: left;
}
.pr_title::after {
    content: '';
    display: block;
    width: 90%;
    height: 6px;
    margin-top: 15px;
    background: #EEDD41;
}
.projects_section {
    margin: 5% 5%;
}
.columnp {
  float: left;
  padding: 10px;
  height: 375px; 
  top: 90px;
  text-decoration: none;
  text-align: center;
}
.project_blocks {
    width: 49%;
    margin-bottom: 6px;
    background-color: #EEDD41;
    margin-left: 2px;
    margin-right: 2px;
}
.project_blocks:hover {
    background-color: black;
    color: white;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-item__square {
    display: flex;
    background: gray;
    padding: 7.5px;
    width: 30%;
    height: 37px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
.flex-item__square:hover {
    transform: scale(1.1);
}
@media (max-width: 800px) {
    .project_blocks {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 2px;
    }
    .flex-item__square {
        display: flex;
        background: gray;
        padding: 0px;
        height: 50px;
        margin-left: 1px;
        margin-right: 1px;
    }
    .columnp {
        float: left;
        height: fit-content; 
        margin-bottom: 30px;
      }
}

/*Research Section*/
.columnr {
    float: left;
    height: fit-content; 
    text-decoration: none;
  }
.columnr a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}
.rs_title {
    width: 100%;
    color: #02C245;
    background-color: white;
    text-align: left;
}
.rs_title::after {
    content: '';
    display: block;
    width: 90%;
    height: 6px;
    margin-top: 15px;
    background: #02C245;
}
.research_text {
    width: 70%;
    margin: 5% 5%;
}
.seperator {
    content: '';
    display: block;
    width: 90%;
    height: 6px;
    margin-left: 1%;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    background: #02C245;
}
.side1 {
    width: 66.5%;
}
.side2 img {
    width: 160px;
    margin-top: -5px;
    margin-left: 50px;
} 
@media (max-width: 800px) {
    .side1 { width: 100%; }
    .side2 { display: none; }
    .bloglink { width: fit-content; }
    .research_text {
        width: 88%;
        margin: 5% 5%;
    }  
}
@media (min-width: 800px) {
    .bloglink { width: 70%; }
    .barticle { width: 60%; }
}

/* #F0E7EB */
/* Blog */
.bhome { 
    width: 95%; 
    margin: auto;
}
.bloglink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 1em;
    margin-bottom: 1.2em;
    padding: 0.9em;
    line-height: 1em;
    background-color: #202020;
    border-radius: 10px;
}
.hook {
    overflow:hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.subtitle {
    text-align: center;
    padding: 1em;
    background: lightgray;
    font-size: 1.5em;
}
.bdate {
    text-align: center;
    color: white;
    padding: 0.5em;
    font-size: 1.25em;
}
.barticle {
    background-color: #202020;
    margin: 1em;
}
.btext {
    color: white;
    margin: 3em;
    font-size: 1.25em;
}
.barttit {
    font-size: 1.5em;
    margin: 1em 0;
}

/* Hamburger Menu */
.nav {
    position: fixed;
    background: white;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}
.nav__link:hover { color: var(--clr-accent); }
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
.nav-open .nav { transform: translateX(0); }
.nav-open .nav-toggle { position: fixed; }
.nav-open .hamburger { transform: rotate(.625turn); }
.nav-open .hamburger::before { transform: rotate(90deg) translateX(-6px); }
.nav-open .hamburger::after { opacity: 0; }
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 4px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }